@import 'variables';
@import 'bootstrap/scss/bootstrap';

.specie-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .specie-info {
        display: flex;
        justify-content: flex-end;
    }
    .buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        flex-wrap: nowrap; /* Ensures buttons stay in one line */
    }
}

.specie-select {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .form-label{
        justify-content: center;
        align-items: center;
    }
    .form-select {
        width: 150px;
    }
    .btn-primary {
        margin-left: 450px;
    }
}



