// Body
$body-bg: #f8fafc;

$a: 'Anonymous Pro', monospace;
$b: 'Bruno Ace SC', cursive;
$g: 'Goldman', cursive;

// Typography
$font-family-sans-serif: $g;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
